<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{{ header.title|default(site.title)|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {# TODO Open Graph #}

    {# TODO improve https://wiki.selfhtml.org/wiki/Grafik/Favicon #}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    {# TODO This is wrong for the website root: https://github.com/getgrav/grav/issues/3127 #}
    <link rel="canonical" href="{{ page.canonical(true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Muli:400,700', 100) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700', 100) %}
    {% do assets.addCss('theme://css/normalize.css', 99) %}
    {% do assets.addCss('theme://css-compiled/application.min.css', 98) %}
{% endblock %}

{% block javascripts %}
    {# {% do assets.addJs('jquery', 100) %} #}
    {% do assets.addJs('theme://js/site.js') %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

<article>

{% block header %}
    <header role="banner">
        {# TODO <%= image_tag "keep-a-changelog-mark.svg", width: 100, class: "mark" %> #}
      <nav class="locales" role="navigation">
        <select>
        {# TODO translations #}
          {# <% $languages.each do |language| %>
            <% selected = language_code == language.first %>
            <% if available_translation = available_translation_for(language) %>
              <option label="<%= available_translation %>" selected="<%= selected %>" value="<%= language.first %>">
                <%= available_translation %>
              </option>
            <% end %>
          <% end %> #}
        </select>
          {# TODO github image + link #}
      </nav>
    </header>
    {# <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ home_url|e }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title|e }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div> #}
{% endblock %}

{% block body %}
<div class="main" role="main">
  {# <% if !latest_version && legacy_version %>
    <% if versions.include?($last_version) %>
      <p class="newer">
        <% if $languages[language_code][:new] %>
          <%= "#{$languages[language_code][:new]}: " %>
        <% else %>
          There is a newer version available:
        <% end %>
        <%= link_to "#{$languages[language_code][:name]} #{$last_version}", "/#{language_code}/#{$last_version}" %>
      </p>
    <% else %>
      <% if $languages[language_code][:notice] %>
        <p class="last-version-notice">
          <%= $languages[language_code][:notice] %>
        </p>
      <% else %>
        <p class="last-version-notice">
          The latest version (#{$last_version}) is not yet available in
          this language but
          <%= link_to "you can read it in English", "/en/#{$last_version}" %>
          for now and
          <%= link_to "help translate ", "https://github.com/nicohood/sign-your-software/issues" %>
          it.
        </p>
      <% end %>
    <% end %>
  <% end %> #}
  {% block content %}{% endblock %}

  </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

</article>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
